<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Painel de Controle</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            This week
        </button>
    </div>
</div>

<div>
    <div style="display: flex;justify-content: center; padding-top: 20px;" class="container">
        <div class="card text-center" style="width: 18rem; background-color: azure">
            <div class="card-body">
                <h5 class="card-title"><b>Edit Form</b></h5>
                <p class="card-text">The first page is about a simple edit form.</p>
            </div>
        </div>
    </div>

    <form name="vm.simpleEditForm" ng-submit="vm.updatePerson()">
        <div class="container" id="formID" style=" padding-top: 60px;">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input type="text" maxlength="80" ng-model="vm.personName" class="form-control" id="inputName" placeholder="Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" ng-model="vm.personEmail" id="inputEmail" placeholder="Email" required>
                </div>
            </div>
            <button class="btn btn-primary">Update</button>
        </div>
    </form>

    <div style="display: flex;justify-content: center; padding-top: 20px;" class="container">
        <div class="card text-center" style="width: 18rem; background-color: azure">
            <div class="card-body">
                <h5 class="card-title"><b>Next topic: Table</b></h5>
                <a ui-sref="simpleForm.tableForm" class="btn btn-primary">Next</a>
            </div>
        </div>
    </div>

    <div id="footer" style="padding-top: 100px">
        <div class="container">
            <p style="display: flex;justify-content: center"><a style="padding-left: 5px" href="https://gitlab.com/luanhenriquer8/luanhenriquer8-frontend/blob/master/src/modules/form/views/form.edit.simple.ng.html">
                The link of this page on Gitlab</a>
            </p>
        </div>
    </div>
</div>