<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Created People</h1>
</div>

<div class="container" style="padding-top: 20px">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in vm.people">
            <th scope="row">{{person.id}}</th>
            <td>{{person.name}}</td>
            <td>{{person.email}}</td>
            <td><a ng-click="vm.editPerson(person)" class="btn btn-primary">Edit</a></td>
            <td><a ng-click="vm.deletePerson(person)" class="btn btn-primary">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <h2 style="padding-top: 100px; padding-bottom: 100px; text-align: center" ng-if="vm.people.length == 0">
        <a>There is no people registered on the data base, you can create it clicking <a ui-sref="simpleForm.main">here</a>.</a>
    </h2>
</div>

<div style="display: flex;justify-content: center; padding-top: 20px;" class="container">
    <div class="card text-center" style="width: 18rem; background-color: azure">
        <div class="card-body">
            <h5 class="card-title"><b>Next topic: Calendar</b></h5>
            <a ui-sref="simpleForm.calendar" class="btn btn-primary">Next</a>
        </div>
    </div>
</div>

<div id="footer" style="padding-top: 100px">
    <div class="container">
        <p style="display: flex;justify-content: center"><a style="padding-left: 5px" href="https://gitlab.com/luanhenriquer8/luanhenriquer8-frontend/blob/master/src/modules/form/views/form.simple.ng.html">
            The link of this page on Gitlab</a>
        </p>
    </div>
</div>
