<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Painel de Controle</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            This week
        </button>
    </div>
</div>


<div class="container" style="padding-top: 100px; display: flex;justify-content: center">
    <form name="vm.loginForm" ng-submit="vm.doLogin()">
        <h2 class="">Welcome!</h2>
        <div class="row" style="padding-top: 40px">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input ng-model="vm.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
                </small>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input ng-model="vm.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>


<div id="footer" style="padding-top: 100px">
    <div class="container">
        <p style="display: flex;justify-content: center"><a style="padding-left: 5px"
                                                            href="https://gitlab.com/luanhenriquer8/luanhenriquer8-frontend/blob/master/src/modules/main/views/main.ng.html">
            The link of this page on Gitlab</a>
        </p>
    </div>
</div>
