<style>
    #cardpadding {
        padding-top: 0px;

        padding-bottom: 50px;
    }
</style>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<div id="cardpadding" class="card text-center">
    <div class="card-header">
        <a class="nav-link active" href="#">The First Contact</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">Welcome to my resume</h5>
        <p style="padding-top: 20px" class="card-text">Here you can check a little bit about my job.
            Every has it own Gitlab link, yes, so you can see about my code. Also,
            There is some messages on the console, where i explain somethings about the
            Requests did, a much more. Just feel free to surf in it.</p>
        <a ui-sref="simpleForm.main" class="btn btn-primary">START</a>
    </div>
</div>

<div id="footer" style="padding-top: 100px">
    <div class="container">
        <p style="display: flex;justify-content: center"><a style="padding-left: 5px" href="https://gitlab.com/luanhenriquer8/luanhenriquer8-frontend/blob/master/src/modules/main/views/main.ng.html">
            The link of this page on Gitlab</a>
        </p>
    </div>
</div>